

.hexagons-slider {
  display: block;
  clear: both;
  width11: 800px;
  margin-left: 5px;
}

div.myRange_scale0
{
  display: block;
  white-space: normal;
  margin-bottom: 0px;
  margin-left: 3px;
}

div.myRange_scale
{
  display: block;
  white-space: normal;
  font-size: 10px;
  margin-left: 3px;
}

div.myRange_scale_tik0
{
  display: inline-block;
  margin-left1: 25px;
  font-size: 10px;
  text-align: center;

}
div.myRange_scale_tik
{
  display: inline-block;
  text-align: center;
  font-size: 10px;
}