div.super_div{
    background-image: url(./tailors-resources/background.png);
    white-space: nowrap;
}

div.top_div{
    background-color1: beige;
    white-space: nowrap;
    position: relative;
}

table.top_table{
    width: 100%;
    table-layout: fixed;
}

td.cellTopLeft {
    vertical-align: top;
    overflow: auto;

}

td.cellTopLeft::-webkit-scrollbar
{
    color: black;
}

td.cellTopLeft::-webkit-scrollbar-track
{
	background-color: #addf76;
}

td.cellTopLeft::-webkit-scrollbar-thumb
{
	background-color: #8ec551;
}

td.cellTopLeft::-webkit-scrollbar-button:single-button:increment
{
    background:
    linear-gradient(210deg, #8ec551 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(330deg, #8ec551 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(90deg, #8ec551 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #4a9830;
}

td.cellTopLeft::-webkit-scrollbar-button:single-button:decrement
{
    background:
    linear-gradient(30deg, #8ec551 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, #8ec551 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(270deg, #8ec551 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #4a9830 ;
}

td.cellTopRight {
    vertical-align: top;
}

.stage1_div{
    width1: 100%;
    overflow1: auto;
}

.canvas_cont_div{
	background-color1: beige;
}



.controls_div{
    background-color1: beige;
    max-height: 100px;
}

.go_btn1{
    font-weight: bold;
    font-size: 24px;
    width: 40px;
    height: 35px;
    vertical-align: top;
    color: #005d60;
    background-color: #51a635;
}
.go_btn1:disabled
{
    color: #338053;
}

.go_btn1:hover{
    color: #fff331;
}


.stage_div{
    background-color1: beige;
    position: relative;
    height: 300px;
    display: inline-block;
}

.tailors_div{
    display: block;
    margin-left: 50px;
}

.tailor_div{
    display: inline-block;
    padding: 10px;
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    border: transparent solid 2px;
}

div.tailor_control_div{
    position: absolute;
    display: none;
    padding: 8px;
    background-color: #addf76;
    border: #4a9830 solid 1px;
}

input.tailor_control_maxlen{
    width: 30px;
    font-size: 14px;
    text-align: center;
    border: none;
    background-color: #cef7a1;
    color: #005d60;
}

input.tailor_control_maxlen::selection {
    background: #005d60;
    color: #cef7a1;
  }

button.tailor_control_maxlen_btn
{
    background-color: #8ec551;
    border: none;
    border-radius: 2px;
    color: #005d60;
}

.tailor_maxlen_div{
    border1: silver solid 1px;
    padding: 2px;
    font-size: 12px;
    background-color: #cef7a1;
    border-radius: 2px;
    position: absolute;
    left: 85px;
    top: 10px;
    color: #005d60;
}
.tailor_lencurrent_div{
    border1: silver solid 1px;
    padding: 2px;
    font-size: 12px;
    background-color: #89f3ff;
    border-radius: 2px;
    position: absolute;
    left: 85px;
    top: 50px;
    color: #005d60;
}

.tailor_total_div{
    border: silver solid 1px;
    padding: 2px;
    font-size: 11px;
    background-color: aquamarine;
    border-radius: 2px;
    position: absolute;
    left: 0px;
    top: 30px;
    display: none;
}

.tailor_close_div{
    left: 2px;
    top: 0px;
    font-size1: 18px;
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    display: none;
    color: #de5951;
}

div.princess_div{
    position: absolute;
    top: 100px;
}

.log_div{
    position: absolute;
    border: black solid 1px;
    background-color: #cef7a1;
    display: block;
    top: 20px;
    right: 10px;
    display: none;
}



.log_div_header{
    background-color: #005d60;
    color:  #addf76;
    border: white 1px solid;
    padding: 4px;
    text-align: center;
    white-space: nowrap;
}

.log_div_close{
    float: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
    margin-top: -4px;
}

button.btn_log_show{
    background-color: #005d60;
    color: #addf76;
    border: white 1px solid;
    padding: 8px;
    font-size: 28px;
    border-radius: 8px;
    vertical-align: top;
    z-index: 1000000;
    position: absolute;
    right: 50px;
}

button.btn_log_show:hover{
    color:#fff331;
}

.log_div_left{
    display: inline-block;
    vertical-align: top;
}
.log_div_right{
    display: inline-block;
    vertical-align: top;

}

.log_div_table{
    max-height: 300px;
    overflow: auto;
    margin-left: 10px;
    color: #005d60;
}

.log_div_table::-webkit-scrollbar
{
    color: black;
}

.log_div_table::-webkit-scrollbar-track
{
	background-color: #addf76;
}

.log_div_table::-webkit-scrollbar-thumb
{
	background-color: #8ec551;
}

.log_div_table::-webkit-scrollbar-button:single-button:increment
{
    background:
    linear-gradient(300deg, #8ec551 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(60deg, #8ec551 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #8ec551 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #4a9830;
}

.log_div_table::-webkit-scrollbar-button:single-button:decrement
{
    background:
    linear-gradient(120deg, #8ec551 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #8ec551 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #8ec551 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #4a9830 ;
}



table.log_table{
    border: black solid 1px;
    border-collapse: collapse;
}

table.log_table th{
    border: black solid 1px;
    font-weight: bold;
}

table.log_table td{
    border: black solid 1px;
}

tr.log_row_selected{
    color: #de5951;
    font-weight: bold;
    background-color: #addf76;

}

th.log_head_col{

}

tr.log_row_tik{
    color: black;
}

button.tailor_plusminus_btn
{
    border-radius: 6px;
    font-weight: bold;
    font-size: 28px;
    width: 50px;
    height: 45px;
    vertical-align: top;
    color: #4a9830;
    background-color: #addf76;
    margin1-left: 10px;
    margin1-top: 10px;

    z-index: 1000000;
    position: absolute;
    left: 20px;
    top: 20px;
}

button.tailor_plusminus_btn:hover{
    color: #fff331;
}

div.canvas_bot_div{
    display: block;
    position1: absolute;
    margin-left1: 20px;
    margin-top: -140px;
    z-index: 1000;
}

.canvas_bot{
    z-index: 1000;
}

