.kio-base-box {

  .woodenrailway-tools {
    button {
      outline: none;
      border: none;
    }

    button:hover {
      background-position: 0 -60px;
    }

    .tool-no-select {
      background-position: 0 0;
    }

    .tool-select {
      background-position: 0 -120px;
    }
  }

  webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

.woodenrailway-info {
  button {
    background-color: black;
    color: white;
  }

  span {
    font-weight: bold;
    margin-right: 1em;
    color: #ff3215;
    font: 19px 'Verdana', sans-serif;
    background-color: white;
    padding: 0.2em 1em;
  }

  padding: 1em;
}