div.super_div{
	height: 500px;
	width1: 1800px;

	overflow: auto;
}

.canvas_cont_div{
	height: 500px;
	background-size: 2000px;
	background-repeat: no-repeat;
	background-position: center;
	width: 1800px;
}

